.custom_select_container {
    position: relative;
    width: 200px;
}

.custom_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
}


.custom_select.open {
    border-color: #007bff;
    border-radius: 6px 6px 0 0;
}

.custom_select .arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.custom_select .arrow.down {
    border-top: 6px solid #282828;
}

.custom_select .arrow.up {
    border-bottom: 6px solid #282828;
}




.custom_option {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.custom_option {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #8b8b8b;
}

.custom_option:hover,
.custom_option.selected {
    color: #282828;
}