.filter_Price {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Позволяет переносить элементы, если они не помещаются */
}

.price_block {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Расстояние между лейблом и инпутом */
}

.filter_Price span {
    font-weight: 600;
}

.filter_Price input {
    max-width: 112px;
    width: 100%;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    padding: 0 8px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    flex-grow: 1;
    min-width: 50px;
}

/* Медиазапросы для различных разрешений */

/* Для экранов шириной менее 1200px */
@media (max-width: 1200px) {
    .filter_Price {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .
    /* .filter_Price {
     display: flex;
     gap: 16px;
     justify-content: center;
     flex-wrap: wrap;

 }

 .filter_Price {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 8px;
 }

 .filter_Price span {
     font-weight: 600;
 }

 .filter_Price input {
     max-width: 112px;
     width: 100%;
     height: 36px;
     font-size: 16px;
     font-weight: 500;
     color: #282828;
     padding: 0 8px 0 16px;
     border-radius: 6px;
     border: 1px solid #DDDDDD;
     flex-grow: 1;
     min-width: 50px;
 }

 @media (max-width: 1200px) {
     .filter_Price {
         flex-direction: column;
         align-items: flex-start;
         gap: 12px;
     }

     .filter_Price {
         flex-direction: column;
         Лейбл и инпут в одну колонку 
         align-items: flex-start;
         width: 100%;
     }

     .filter_Price input {
         max-width: 100%;
       
         height: 24px;
         font-size: 12px;
         padding: 0 8px;
     }
 }

 @media (max-width: 768px) {
     .filter_Price {
         gap: 10px;
     }

     .filter_Price input {
         max-width: 100%;
     }
 }

 @media (max-width: 576px) {
     .filter_Price {
         gap: 8px;
     }

     .filter_Price input {
         max-width: 100%;
     }
 }

 @media (max-width: 417px) {
     .filter_Price {
         gap: 6px;
     }

     .filter_Price input {
         max-width: 100%;
     }
 }

 