.container {
    margin: 80px 40px 106px 40px;
}


.header_categories_home {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.h2_categories_home {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    margin: 40px 10px;
}

.linie {
    border: 2px solid rgba(221, 221, 221, 1);
    width: 70vw;
}

.categories_Card_Container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 16px;
    width: 100%;

}

.categories_Card {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.categories_image {
    width: 100%;
    height: auto;
}

.categories_card_h3 {
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {

    .h2_categories_home {

        font-size: 48px;
        margin: 30px 8px;
    }

    .categories_Card_Container {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 2fr));
        gap: 16px;
        width: 100%;
        max-width: 1200px;
    }
}

@media (max-width: 576px) {
    .h2_categories_home {

        font-size: 32px;
        margin: 20px 8px;
    }
}



@media (max-width: 417px) {}